<div class="footer">
    <div class="left">
        <h2>personnalisez votre tototte</h2>
        <p class="p-2">Vous allez créer la tototte idéale pour vous. À chacun son expérience, à chacun sa
            tototte.</p>
        <div class="carousel-container">
            <div class="carousel">
                <div class="item active">
                    <img src="{{ asset("image/1.png") }}" alt="Image 1"/>
                </div>
                <div class="item">
                    <img src="{{ asset("image/2.png") }}" alt="Image 2"/>
                </div>
                <div class="item">
                    <img src="{{ asset("image/3.png") }}" alt="Image 3"/>
                </div>
            </div>
            <button class="btn prev"><img src="{{ asset("image/prev.svg") }}" alt="prev"/></button>
            <button class="btn next"><img src="{{ asset("image/next.svg") }}" alt="next"/></button>
            <div class="dots"></div>
        </div>
    </div>
    <div class="right" id="panier">
        <div class="buy">
            <h2>personnalisez votre tototte</h2>
            <p class="p-2">Vous allez créer la tototte idéale pour vous. À chacun son expérience, à chacun sa
                tototte.</p>
            <h3>finition</h3>
            <p>Choisissez votre favorite</p>
            <div class="color">
                <div class="bodycolor" data-image1="{{ asset("image/1.png") }}" data-image2="{{ asset("image/2.png") }}" data-image3="{{ asset("image/3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/blue1.png") }}" data-image2="{{ asset("image/blue2.png") }}" data-image3="{{ asset("image/blue3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/1.png") }}" data-image2="{{ asset("image/2.png") }}" data-image3="{{ asset("image/3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/1.png") }}" data-image2="{{ asset("image/2.png") }}" data-image3="{{ asset("image/3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle"></div>
                </div>
            </div>
            <h3>ornement</h3>
            <p>Choisissez votre pierre précieuse</p>
            <div class="color">
                <div class="bodycolor" data-image1="{{ asset("image/blue1.png") }}" data-image2="{{ asset("image/blue2.png") }}" data-image3="{{ asset("image/blue3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle1"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/1.png") }}" data-image2="{{ asset("image/2.png") }}" data-image3="{{ asset("image/3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle1"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/1.png") }}" data-image2="{{ asset("image/2.png") }}" data-image3="{{ asset("image/3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle1"></div>
                </div>
                <div class="bodycolor" data-image1="{{ asset("image/black1.png") }}" data-image2="{{ asset("image/black2.png") }}" data-image3="{{ asset("image/black3.png") }}">
                    <div class="circle"></div>
                    <div class="colorcircle1"></div>
                </div>
            </div>
            <h3>pack saveur</h3>
            <p>Choisissez votre pack de saveurs</p>
            <div class="pack">
                <div class="pack1" data-image1="{{ asset("image/black1.png") }}" data-image2="{{ asset("image/black2.png") }}" data-image3="{{ asset("image/black3.png") }}">
                    <div>
                        <h3>Pack Starter</h3>
                        <p>3 saveurs de découverte</p>
                    </div>
                    <span>Offert</span>
                </div>
                <div class="pack1" data-image1="{{ asset("image/black1.png") }}" data-image2="{{ asset("image/2green.png") }}" data-image3="{{ asset("image/black3.png") }}">
                    <div>
                        <h3>Pack Suçoteur</h3>
                        <p>6 saveurs</p>
                    </div>
                    <span>29€</span>
                </div>
                <div class="pack1" data-image1="{{ asset("image/black1.png") }}" data-image2="{{ asset("image/2yellow.png") }}" data-image3="{{ asset("image/black3.png") }}">
                    <div>
                        <h3>Pack Suçoteur Pro</h3>
                        <p>12 saveurs + 1 jus de Mynthos</p>
                    </div>
                    <div class="prixtwo">
                        <span>60€</span>
                        <span>49€</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panier">
            <h3>votre panier est prêt</h3>
            <p class="commande">Récapitulatif de votre commande</p>
            <div>
                <div class="lacommande1">
                    <div>
                        <p>1 x thefrenchtototte</p>
                        <p> + Finition argent</p>
                        <p> + Ornement obsidiennes</p>
                    </div>
                    <span>99,00 €</span>
                </div>
                <div class="lacommande">
                    <h4>1 x Pack Suçoteur Pro</h4>
                    <span>49,00 €</span>
                </div>
                <div class="lacommande">
                    <h4>Livraison</h4>
                    <span>Offerte</span>
                </div>
                <div class="lacommande">
                    <h4>Prix</h4>
                    <span>148,00 €</span>
                </div>
                <div class="lacommande">
                    <label for="">Retrait en magasin</label>
                    <select class="custom-select" name="" id="">
                        <option value="">Tototte Store Lille</option>
                        <option value="">Tototte Store Bordeaux</option>
                    </select>
                </div>
                <div class="lacommande">
                    <p>Commandez avant 17h</p>
                    <p>Livrer à 59000</p>
                </div>
                <a href="" class="btnpanier">Ajouter au Panier</a>
                <p class="regle">
                    The French Tototte est couverte par une garantie limitée contre les défauts de fabrication pour
                    une période de 2 mois à compter de la date d'achat.
                    Cette garantie ne couvre pas les dommages causés par une mauvaise utilisation, une négligence ou
                    une modification non autorisée du produit.
                    Dans les limites permises par la loi, thefrenchtototte décline toute responsabilité pour les
                    dommages directs, indirects, spéciaux,
                    accidentels ou consécutifs découlant de l'utilisation ou de l'incapacité d'utiliser
                    thefrenchtototte, même si thefrenchtototte a été informée de la possibilité de tels dommages.
                    En utilisant thefrenchtototte, l'utilisateur consent à la collecte et à l'utilisation de ses
                    données conformément à la politique de confidentialité de thefrenchtototte.
                    Les informations collectées peuvent inclure, mais ne sont pas limitées à, des données
                    d'utilisation, des informations de localisation et des données personnelles,
                    telles que définies dans ladite politique de confidentialité.
                </p>
            </div>
        </div>
    </div>
    <div class="bas">
        <div class="info">
            <div>
                <div class="reseau">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"/><path d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01"/></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.705 11.108c-.162-2.987-1.794-4.697-4.534-4.714c-1.652-.01-3.033.69-3.879 1.973L9.8 9.4c.634-.961 1.635-1.16 2.36-1.153c.903.006 1.583.268 2.024.78c.32.372.535.887.642 1.536c-.8-.136-1.666-.178-2.59-.125c-2.606.15-4.28 1.67-4.168 3.781c.057 1.071.59 1.993 1.502 2.595c.77.509 1.764.757 2.795.701c1.363-.075 2.432-.594 3.178-1.545c.566-.722.924-1.658 1.082-2.836c.65.392 1.13.907 1.397 1.527c.452 1.054.478 2.786-.935 4.198c-1.238 1.236-2.726 1.772-4.975 1.788c-2.495-.018-4.382-.819-5.608-2.378c-1.15-1.46-1.743-3.57-1.765-6.269c.022-2.7.616-4.809 1.765-6.27c1.226-1.559 3.113-2.359 5.608-2.377c2.513.019 4.432.822 5.706 2.39c.625.768 1.095 1.734 1.406 2.86l1.766-.47c-.377-1.387-.969-2.582-1.774-3.573c-1.633-2.01-4.033-3.039-7.11-3.06c-3.071.021-5.432 1.055-7.019 3.071c-1.411 1.795-2.14 4.306-2.164 7.436c.024 3.13.753 5.627 2.164 7.422c1.587 2.016 3.96 3.05 7.03 3.071c2.731-.019 4.655-.734 6.24-2.317c2.075-2.073 2.012-4.67 1.329-6.264c-.525-1.225-1.57-2.206-2.98-2.81m-4.438 4.557c-1.142.064-2.328-.448-2.387-1.546c-.043-.814.58-1.722 2.457-1.83a9.389 9.389 0 0 1 2.533.174c-.216 2.702-1.485 3.14-2.603 3.202"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zM8 10a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-5a1 1 0 0 0-1-1m3-1a1 1 0 0 0-1 1v6a1 1 0 1 0 2 0v-3.66c.305-.344.82-.748 1.393-.993c.333-.142.834-.2 1.182-.09a.55.55 0 0 1 .293.188c.052.07.132.226.132.555v4a1 1 0 0 0 2 0v-4c0-.67-.17-1.266-.524-1.744a2.54 2.54 0 0 0-1.301-.907c-.902-.283-1.901-.126-2.568.16a5.82 5.82 0 0 0-.623.312A1 1 0 0 0 11 9M8 7a1 1 0 1 0 0 2a1 1 0 0 0 0-2"/></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" fill-rule="evenodd" d="M921 912L601.11 445.745l.546.437L890.084 112h-96.385L558.738 384L372.15 112H119.367l298.648 435.31l-.036-.037L103 912h96.385l261.222-302.618L668.217 912zM333.96 184.727l448.827 654.546h-76.38l-449.19-654.546z"/></svg>
                </div>
                <div class="titlefooter">
                    <h1>the french tototte</h1><span>®</span>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2024 TheFrenchTototte. Tous droits réservés <span>— Utilisation des cookies — Mention légales.</span></p>
                <p>Sur une idée originale d’Antoine Daniel, concept art par Tera Silver, 3D par Aurélien Thomas, logo par
                    Baloprisonnier, 3D print par Lunath & Packaging par Illusion</p>
            </div>
        </div>
    </div>
</div>
