<div class="lestotottes">
    <div class="tabletote">
        <div class="table"></div>
        <div class="table2"></div>
        <div class="pod">
            <div class="podcard" data-type="fraise">
                <h4>Fraise</h4>
                <p>Une fraise française cueilli dans nos chers régions dg</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(7).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="menthe">
                <h4>Menthe</h4>
                <p>Pour une haleine fraiche avant vos réunions</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(8).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="bubble">
                <h4>Bubble Gum</h4>
                <p>Un goût sucré pour retourner en enfance</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(1).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="spicy">
                <h4>Spicy</h4>
                <p>Pour ceux qui aiment vivre des nouvelles choses tous les jours</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(2).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="bacon">
                <h4>Bacon Fumé</h4>
                <p>Un goût de porc pour honorer nos élevages made in france</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(3).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="france">
                <h4>France</h4>
                <p>Suçotez la République avec cet étendard bleu blanc rouge</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(4).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="mynthos">
                <h4>Jus de Mynthos</h4>
                <p>Profitez du goût concentré de la première traite du matin</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(5).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
        <div class="pod">
            <div class="podcard" data-type="montazac">
                <h4>Montazac et Torez</h4>
                <p>Pour retrouver le goût d'un vin unique</p>
                <div class="barre"></div>
                <div class="circle"></div>
            </div>
            <img src="{{ asset('image/Pod(6).svg') }}" alt="">
            <div class="ombre"></div>
        </div>
    </div>
</div>
<div class="gout">
    <div class="flexgout">
        <div class="nonbredeserveur">
            <h4>30</h4>
            <p>Saveurs disponibles</p>
        </div>
        <div class="nonbredeserveur">
            <h4>11</h4>
            <p>Vertus médicinales</p>
        </div>
    </div>
    <div class="paraserveur">
        <p>Laissez-vous tenter par les saveurs des différents plugs et <span>découvrez un monde de délices</span> pour
            chaque envie.</p>
    </div>
</div>